html 
    head
        link(rel="stylesheet", href="/output.css")
        title= data.title 
    body  
        div(class="grid grid-cols-2 gap-8 max-w-4xl mx-auto mt-28") 
            div
                img(src=`https://image.tmdb.org/t/p/original${data.poster_path}`, alt="", class="w-full h-full object-cover rounded-lg")
            div
                h1(class="font-bold text-5xl")= data.title
                p(class="text-orange-500 mt-4 font-semibold flex items-center gap-2")
                    img(src="/star.svg", alt="" class="w-6")
                    span= data.vote_average
                p(class="text-gray-800 mt-4")= data.overview